
  .btn-transparent {
    background: transparent;
    height: auto;
    width: auto;
  }
  .dropdown{
    font-size:2.5rem;
  }
  .avatar {
   
    margin-right: 3rem;
    height: auto;
    width: 30%;
  }
  #profile{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    font-size: small;
  }